<div class="login-reg">
    <form action='/users/login' method='post' class="needs-validation" novalidate>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <p>Email <input type='text' name='user[email]' class="form-control" required></p>
        <p>Password <input type='password' name='user[password]' class="form-control" required></p>
        <input type='submit' value='Login' class="btn btn-primary">
        <a href='/register'>Create new User</a>
    </form>
</div>