<header class='container'>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand h2" href="/subjects">Classroom</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/to_do">To-Do</a>
                </li>
            </ul>
            </div>
            <div class="d-flex">
            <a href='/profile'>Profile</a>
            <a href="/log_out" class='mx-2'>Log Out</a>
            </div>
        </div>
    </nav>
</header>