<header>
    <h2><a href="/classes">Classroom</a></h2>
    <a href="#">To-do</a>
    <div class="nav-end">
        <a href="/login">Log Out</a>
        <div class='profile'>
        <a href='/profile'>Profile</a>
        </div>
    </div>
</header>