<header>
        <h2><a href="/subjects">Classroom</a></h2>
        <a href="#">To-do</a>
        <div class="nav-end">
            <a href="/log_out">Log Out</a>
            <div class='profile'>
            <a href='/profile'>Profile</a>
            </div>
        </div>
    </header>