<%= render 'shared/header'%>
<div class="post-box">
    <a href="/subjects/1">Go Back</a>
    <h2>Lesson 1</h2>
    <div class="nav-end">
        <a href="/subjects/1/post/1/edit">Edit</a>
        <a href="/subjects/1/post/1">Delete</a>
    </div>
    <p>Due Until: dd/mm/yyyy hh:mm pm</p>
    <p>Lorem ipsum dolor 
        sit amet, consectetur adipisicing elit. Rerum voluptatibus distinctio hic quos ducimus ad.</p>
    <div class="comment-box">
        <form action="" method="post">
            <label>My name: <textarea name="comment[content]" placeholder='Comment Something...'></textarea></label>
            <input type="submit" value="Post">
        </form>
        <div class="comment-section">
            <p>Name1: Lorem ipsum dolor sit amet.</p>
            <div class="replies-section">
                <p>Name2: Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="replies-section">
                <p>Name2: Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="replies-section">
                <p>Name2: Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <form action="" method="post">
                <label>My name: <textarea name="comment[content]" placeholder='Reply Something...'></textarea></label>
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
</div>
